<!DOCTYPE html>
<html>
  <head>
    <title>BreweryHelper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <ul class="nav">
    <li><a href="/beers">Beers</a></li>
    <li><a href="/breweries">Breweries</a></li>
    <li><a href="/">Home</a></li>
  </ul>
    <%= yield %>
  </body>
</html>
